/* =================== */
/* ==== Overrides ==== */
/* =================== */

.page-header {
    min-width: 960px;
    background-color: #ea2227;
}

.page-header a {
    color: white;
}

.page-wrapper {
    margin: 0;
}

input.search {
    background-color: white;
}

a.logo {
    background-image: url(../images/couchbase-icon-light.svg);
}

/* =============== */
/* ==== Intro ==== */
/* =============== */

.panel a.hero-button {
    color: #ea2227;
    padding: 20px 80px;
    background-color: white;
}

.panel {
    min-width: 960px;
}

.panel.highlight {
    background-color: #ea2227;
}

.panel.dark {
    background-color: #f2f2f2;
}

.panel > * {
    margin: auto;
}

.panel > .content {
    width: 960px;
}

.hero {
    width: 960px;
    padding: 55px 40px 110px 40px;
    color: white;
}

.hero .first {
    font: 48px Kievit-ExtraLight;
}

.hero .second {
    font: 24px Kievit-ExtraLight;
    margin-top: 20px;
}

.summary {
    width: 960px;
    position:relative;
    z-index:2;
}

.summary .item {
    width: 33.3%;
    padding: 20px 36px 36px;
    vertical-align: top;
}

.summary .item * {
    margin-top: 16px;
    display: block;
    text-align: center;
}

.summary .item div {
    color: #606060;
}

.summary .item img {
    display: block;
    margin: 0 auto;
    width: 96px;
    height: 96px;
}

.summary .item .title {
    font-size: 28px;
    color: #ea2227;
}

.summary .item .description {
    font-size: 16px;
}

.summary .item.first {
    padding-left: 60px;
}

.summary .item.third {
    padding-right: 60px;
}

.detail {
    width: 960px;
    font-family: Kievit-Light;
}

.detail .text {
    padding: 40px;
}

.detail .title {
    font-size: 48px;
    color: #ea2227;
}

.detail .description {
    font-size: 30px;
}

.detail .long-description {
    font-size: 30px;
    margin: 32px 0 32px 0;
}

.detail a {
    font-size: 30px;
}

.detail ul {
    margin: 30px;
    font-size: 30px;
}

.detail.one .icons {
    margin-top: 32px;
}

.detail.one .icon {
    padding: 0 12px
}

.detail.one .icon img {
    width: 64px;
    height: 64px;
}

.detail.one .icon * {
    font-size: 20px;
}

.detail.two {
    border-collapse: collapse;
}

.detail.two .text {
    width: 60%;
    padding-right: 0;
}

.detail.two .icon {
    width: 40%;
}

.detail.two .icon img  {
    display: block;
    margin: auto;
    width: 216px;
    height: 216px;
}

.detail.three {
    border-collapse: collapse;
}

.detail.three .text {
    width: 60%;
    padding-left: 0;
}

.detail.three .icon {
    width: 40%;
}

.detail.three .icon img  {
    display: block;
    margin: auto;
    width: 216px;
    height: 216px;
}

/* ===================== */
/* ==== Get Started ==== */
/* ===================== */

.get-started {
    padding: 40px;
}

.get-started .title {
    font: 48px Kievit-ExtraLight;
    color: #ea2227;
    margin-top: 20px;
}

.get-started .description {
    font: 16px Kievit-Light;
    margin-top: 10px;
}

.get-started .download-button {
    color: #ffffff;
    background-color: #2ecc71;
    margin: 40px 0;
    padding: 20px 80px;
    width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.get-started a {
    display: inline-block;
    margin-top: 8px;
}

/* ================= */
/* ==== Sign Up ==== */
/* ================= */

.panel.signup-panel {
    background-color: #cf222b;
}

.signup {
    width: 960px;
    padding: 20px;
    color: white;
    font: 18px Kievit-ExtraLight;
}

.signup .first {
    font: 30px Kievit-ExtraLight;
}

.signup .second {
    margin-top: 8px;
}

.signup .third {
    margin-top: 30px;
}

.signup .fourth {
    padding-top: 10px;
}

.signup a {
    color: white;
}

.signup a:hover {
    text-decoration: underline;
}

.signup-form input {
    font: 18px Kievit-Light;
    padding: 10px 16px;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.signup-form button {
    font: 18px Kievit-Light;
    color: white;
    padding: 10px 16px;
    box-shadow: none;
    border: 0;
    background-color: rgba(0,0,0,0.25);
    background-image:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}